header{
    height: 130px;
}

.wrap-element-abs{
    position: absolute;
    left: 0;
}

.wrapper{
    /*width: 1700px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.wrapper .logo{
    width: 138px;
    height: 126px;
}

.wrapper .menu{
    height: 80px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.wrapper .hr{
    width: 100%;
    border-top: 1px solid black;
}

.wrap-element-abs .hr{
    width: 76px;
    border-top: 1px solid black;

}

.wrapper .top-menu{
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.wrapper .top-menu-elements{
    display: flex;
    align-items: center;

}

.wrapper .top-menu-elements img{
    height: 21px;
    width: 21px;
    margin-right: 10px;
}

.wrapper .bottom-menu{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    text-transform: capitalize;
}

.bottom-menu-elements{
    min-width: 120px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.bottom-menu .bottom-menu-elements:hover{
    min-width: 120px;
    height: 20px;
    background-color: #220959;
    border: 1px solid #220959;
    color: #e8f8f7;
    border-radius: 50px;

    transition: 0.4s;

    cursor: pointer;
}


.search{
    display: flex;
    align-items: center;
    background-color: #C4C4C4;
    height: 30px;
    border-radius: 30px;
    width: 20px;
}

.search > img{
    height: 20px;
}

.search > input{
    border: none;
    background-color: transparent;
    outline: none;
}

.search > button{
    border: none;
    background-color: transparent;

}

.welcome-section{
    padding-top: 150px;
}

.welcome-section .header-welcome{
    color: #220959;
    font-size: 60px;
    font-weight: bold;
}

.welcome-section .welcome-text{
    color: #202020;
    padding-top: 17px;
    font-size: 19px;
}

.welcome-section .welcome-button{
    width: 342px;
    height: 63px;
    border: 3px solid #220959;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 18px;

    margin-top: 33px;
    transition: 0.4s;
}

.welcome-section .welcome-button:hover{
    background-color: #220959;
    color: #e8f8f7;
    border: 3px solid #e8f8f7;
    border-radius: 40px;

    transition: 0.4s;
    cursor: pointer;
}

.welcome-icons {

    display: flex;
    width: 150px;
    justify-content: space-between;

    position: absolute;
    bottom: 20px;
}
.welcome-icons .icons{
    width: 32px;
    height: 32px;
    border:2px solid #220959;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.4s;
}
.welcome-icons .icons:hover{
    background-color: #bac34e;
    transition: 0.4s;
    filter: invert(1);
    cursor: pointer;
}




.welcome-icons .icons img{
    height: 15px;

}

.intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 442px;
    width: 100%;
}

.intro-text-wrap{
    width: 50%;
    height: 372px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 86px;
}

.intro-text-wrap .intro-header{
    font-weight: bold;
    font-size: 42px;
}

.intro-header .hr{
    margin-top: 15px;
    height: 2px;
    width: 68px;
    background-color: #220959;
}

.intro-text-wrap .intro-text{
    line-height: 27px;
}

.intro-fact-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-fact-wrapper .facts{
    height: 77px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.intro-fact-wrapper .fact-num{
    font-size: 24px;
    font-weight: bold;
    color: #220959;
}

.intro-fact-wrapper .fact-text{
    line-height: 20px;
}

.intro .intro-image {
    height: 412px;
    width: 50%;
    background-image: url('../../image/1.jpg');
    background-position: center center;
    background-size: cover;
}

