
<div class="primaryNavigation container" style="margin-top: 100px;">

    <div class="primaryNavigation__left">
        <div class="primaryNavigation__search ">
            <div class="primaryNavigation__search-img"><img src="images/primaryNavigation/search.svg" alt=""></div>
            <input type="text" placeholder="Search">
        </div>
        <div class="primaryNavigation__discover"><a href="/search">Discover</a></div>
        <div class="primaryNavigation__browse">Browse</div>
        <div class="primaryNavigation__news">News</div>
    </div>
    <div class="primaryNavigation__right">
        <div class="primaryNavigation__cart"><a href="/game_add">add game</a></div>
        <div class="primaryNavigation__wishlist"><a href="/wishlist">Wishlist</a></div>
        <div class="primaryNavigation__cart">Cart</div>
    </div>

</div>
